# 忽略utools目录下的打包文件
utools/app.asar
utools/app.asar.unpacked/
# 忽略terminal目录下的缓存文件
terminal/**/__pycache__
terminal/zengnui_cli.egg-info
# 忽略GUI目录下的缓存文件
GUI/**/__pycache__
GUI/**/build/
GUI/src/ui_widget/
.vscode/